section{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-align: center;
    text-decoration: none;
    padding: var(--space-md, --space-md);
}

a:hover{
    color: var(--color-secondary);
    
}
h1{
  font-size: var(--font-size-xxl);
}

h2{
  font-size: var(--space-lg);
}

 h1, h2{
     background: var(--color-gradient);
      background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  h3{
    font-size: var(--font-size-lg);
    display: flex;
  
    padding-left: var(--space-md);
    
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  section {
  display: block; 
}


.grid-container h3,
.small-grid-container h3 {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-left: 0; 
}

@media (max-width: 768px) {
  h1, h2, h3, p {
    text-align: center;
  }

  section {
    display: block;
    min-height: auto;
  }

  .grid-container, .small-grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}