*{
    color: var(--color-primary);
    justify-content: center;
    align-items: center;
}


.img {
    aspect-ratio: 1/1;
    width: 150px;
    background-image: url(../components/images/me.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--radius-img);
    border: 4px solid var(--color-border2);
}


.topnav {
     top: 0;
    background-color: var(--color-netrual-100, #fff);
    position: fixed;
    border-bottom: 1px solid var(--color-primary);
    width: 100%;
    padding: var(--space-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: var(--font-size-md);
    font-weight: 600;
   

}


.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(450px, auto) minmax(450px, auto);
    gap: var(--space-md);
    padding: var(--space-md);
  
}

.grid-container > div{
    padding: var(--space-sm);
    font-size: var(--font-size-md);
    text-align: center;
}

.small-grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(250px, auto) minmax(250px, auto) minmax(250px, auto);
    gap: var(--space-md);
    padding: var(--space-md);
}
.small-grid-container > div{
    padding: var(--space-sm);
    font-size: var(--font-size-md);
    text-align: left;
}

/*sloupce*/

.small-column-first{
    grid-column: 1/4;
}

.smallColumnLong{
    grid-column: 1/4;
    border: 1px solid var(--color-border1);
    border-radius: var(--radius-lg);
}

.columnFirst{
        grid-column: 1/3;
    }

.columnLong{
    grid-column: 1/3;
    border: 1px solid var(--color-border1);
    border-radius: var(--radius-lg);
}

.columns{
    border: 1px solid var(--color-border1);
    border-radius: var(--radius-lg);
   
}

.columnSmall{
    border: 1px solid var(--color-border1);
    border-radius: var(--radius-lg);
}

.contact-column{
   
    border: 1px solid var(--color-border1);
    border-top: 4px solid var(--color-header);
    border-radius: var(--radius-lg);
}

/*odstrčení*/

.card{
    margin-bottom: 15vh;
}
.card-column{
     margin-bottom: 30vh;
}
.card-more-columns{
    margin-bottom: 30vh;
}

/*barvy borderů*/
.color0{
    border-left: 4px solid var(--color-borders);

}

.color1 {
    border-left: 4px solid var(--color-border2);
}



.color2{
    border-left: 4px solid var(--color-border3);

}

.color3{
    border-left: 4px solid var(--color-secondary);

}

.small-color0{
     border-top: 4px solid var(--color-borders);
}   

.small-color1{
     border-top: 4px solid var(--color-border2);
}  

.small-color2{
     border-top: 4px solid var(--color-border3);
}  

.small-color3{
     border-top: 4px solid var(--color-secondary);
}  

/*barvy textu*/

.text-color0{
    color: var(--color-borders);
}

.text-color1{
    color: var(--color-border2);

}


.text-color2{
    color: var(--color-border3);

}

.text-color3{
    color: var(--color-secondary);

}

