html{
  scroll-behavior: smooth;
  overflow-x: hidden;
   
}
body{
      margin: 0;
      background-color: var(--color-neutral-100);
      font-family: var(--font-family-base);
     
}

.container {
     width: 90%;        
      max-width: 1200px;  
      margin: 0 auto;    
      padding: var(--space-xl);
      text-align: center;
      padding-bottom: 0;
    }


 